@import 'tailwindcss';

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-primary: #fc4d50;
  --color-secondary: #2c9ba6;
  --color-toggle-on: #5ccbd2;
  --color-toggle-off: #afb2bd;
}

:host {
  all: initial;
  --radius: 0.625rem;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Avenir,
    Helvetica Neue,
    Segoe UI,
    Arial,
    ヒラギノ角ゴ ProN,
    Hiragino Kaku Gothic ProN,
    メイリオ,
    Meiryo,
    ＭＳ Ｐゴシック,
    sans-serif;
}

button,
[role='checkbox'] {
  cursor: pointer;
}
