@import 'tailwindcss';

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-primary: #fc4d50;
  --color-secondary: #2c9ba6;
  --color-toggle-on: #5ccbd2;
  --color-toggle-off: #afb2bd;
}

:host {
  all: initial;
  display: contents;
  --radius: 0.625rem;
}
